<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}MySQLDumper{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ cssURL }}">
</head>
<body>
    {% include "global/header.twig" %}

    <main>
        {% block content %}{% endblock %}
    </main>

    {% include "global/footer.twig" %}
    <script type="text/javascript" src="{{ jsURL }}"></script>
</body>
</html>