<div class="sidebar h-100vh">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                
            </div>
        </div>

        <div class="row">
            <div class="col">
                <p class="mb-0 text-center">MSD {{ msdVersion }}</p>
            </div>
        </div>
    </div>
</div>