{% extends "global/base.twig" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <p>Welcome to MySQLDumper</p>
        </div>
    </div>
</div>

{% endblock %}