<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404 Not Found</title>
    <link rel="stylesheet" type="text/css" href="{{ cssURL }}">
</head>
<body>
    <div class="container-fluid">
        <div class="row h-100vh align-items-center">
            <div class="col text-center">
                <h1 class="display-1">404</h1>
                <p>The requested resource was not found.</p>
                <p class="mb-0">
                    <a href="javascript:window.history.go(-1);">go back</a>
                </p>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="{{ jsURL }}"></script>
</body>
</html>